<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/msbiz/app/css/_variables.css">
    <link rel="stylesheet" href="/msbiz/app/css/common.css">
    <link rel="stylesheet" href="/msbiz/app/css/components.css">
    <style>
        .button {width: auto;}
    </style>
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>버튼</span></div>

        <div data-class="section">
            <div data-class="h1">Solid Button</div>

            <div data-class="h2">Primary</div>
            <script type="text/html">
<button type="button" class="button button-solid-primary-normal">메인버튼(normal)</button>
<button type="button" class="button button-solid-primary-pressed">메인버튼(pressed)</button>
<button type="button" class="button button-solid-primary-disabled" disabled>메인버튼(disabled)</button>
            </script>

            <div data-class="h2">Secondary</div>
            <script type="text/html">
<button type="button" class="button button-solid-secondary-normal">메인버튼(normal)</button>
<button type="button" class="button button-solid-secondary-pressed">메인버튼(pressed)</button>
<button type="button" class="button button-solid-secondary-disabled" disabled>메인버튼(disabled)</button>
            </script>

            <div data-class="h2">Outlined</div>
            <script type="text/html">
<button type="button" class="button button-solid-outline-normal">메인버튼(normal)</button>
<button type="button" class="button button-solid-outline-pressed">메인버튼(pressed)</button>
<button type="button" class="button button-solid-outline-disabled" disabled>메인버튼(disabled)</button>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h1">Text Button</div>

            <div data-class="h2">Primary</div>
            <script type="text/html">
<button type="button" class="button button-text-primary-normal">메인버튼(normal)</button>
<button type="button" class="button button-text-primary-pressed">메인버튼(pressed)</button>
<button type="button" class="button button-text-primary-disabled" disabled>메인버튼(disabled)</button>
            </script>

            <div data-class="h2">Secondary</div>
            <script type="text/html">
<button type="button" class="button button-text-primary-normal">메인버튼(normal)</button>
<button type="button" class="button button-text-primary-pressed">메인버튼(pressed)</button>
<button type="button" class="button button-text-primary-disabled" disabled>메인버튼(disabled)</button>
            </script>

            <div data-class="h2">Outlined</div>
            <script type="text/html">
<button type="button" class="button button-text-primary-normal">메인버튼(normal)</button>
<button type="button" class="button button-text-primary-pressed">메인버튼(pressed)</button>
<button type="button" class="button button-text-primary-disabled" disabled>메인버튼(disabled)</button>
            </script>
        </div>
    </div>
    
    <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/msbiz/guide/assets/js/components.js"></script>
    <script src="/msbiz/app/js/common_ui.js"></script>

</body>
</html>