<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/msbiz/app/css/common.css">
    <style>
        h1, h2, h3, h4 {display:block;}
    </style>
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>Text</span></div>

        <div data-class="section">
            <div data-class="h1">Heading (h1 to h4)</div>
            <script type="text/html">
<h2 class="h1">.h1 heading-large size 28</h2>
<h3 class="h2">.h2 heading-medium size 20</h3>
<h4 class="h3">.h3 heading-small size 18</h4>
<h5 class="h4">.h4 heading-xsmall size 16</h5>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h1">Text</div>
            <script type="text/html">
<h2 class="font-size-large">body-large size 18</h2>
<h3 class="font-size-medium">body-medium size 16</h3>
<h4 class="font-size-small">body-small size 14</h4>
            </script>
        </div>
    </div>
    
    <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/msbiz/guide/assets/js/components.js"></script>
    <script src="/msbiz/app/js/common_ui.js"></script>
</body>
</html>