@charset "utf-8"; 

/* common*/
.agreement-wrap ::-webkit-input-placeholder {font-size:1.6rem; font-weight:normal; color:#666;}
.agreement-wrap ::placeholder {font-size:1.6rem; font-weight:normal; color:#666;}

.agreement-wrap input {height:2rem !important}
.agreement-wrap .output {color:#333;display:inline-block; line-height:1.5; font-size:1.1rem} /* 출력클래스 */
.agreement-wrap input[type="text"].output {background:#eee} /* 출력클래스 */
.agreement-wrap .pd0 {padding:0 !important;}
.agreement-wrap .pdr5 {padding-right:5px !important;}
.agreement-wrap .f-red {color:red !important}/* 글씨 빨간색 */
.agreement-wrap .mg50{margin:5px 0 !important;}
.agreement-wrap .mt0 {margin-top:0px !important;}
.agreement-wrap .mt2 {margin-top:2px !important;}
.agreement-wrap .mt5 {margin-top:5px !important;}
.agreement-wrap .mt10 {margin-top:10px !important;}
.agreement-wrap .mt20 {margin-top:20px !important}
.agreement-wrap .mt30 {margin-top:30px !important}
.agreement-wrap .mt60 {margin-top:60px !important}
.agreement-wrap .mb0 {margin-bottom:0px !important;}
.agreement-wrap .mb10 {margin-bottom:10px !important;}
.agreement-wrap .mb20 {margin-bottom:20px !important}
.agreement-wrap .mb30 {margin-bottom:30px !important}
.agreement-wrap .ml10{margin-left:10px !important;}
.agreement-wrap .ml20{margin-left:20px !important;}
.agreement-wrap .ml30{margin-left:30px !important;}
.agreement-wrap .ml40{margin-left:40px !important;}
.agreement-wrap .ml50{margin-left:50px !important;}
.agreement-wrap .mt-1 {margin-top:-1px !important;}
.agreement-wrap .mt-10 {margin-top:-10px !important;}
.agreement-wrap .mt-20 {margin-top:-20px !important;}
.agreement-wrap .ml-5 {margin-left:5px !important;}
.agreement-wrap .mr-5 {margin-right:5px !important;}
.agreement-wrap .pm0-all {padding:0 !important;margin:0px !important;}
.agreement-wrap .pd5{padding:5px !important;}
.agreement-wrap .pdl5{padding-left:5px !important;}
.agreement-wrap .pdl30{padding-left:30px !important;}
.agreement-wrap .blank {display:inline-block;text-align:center; padding:0rem .5rem}
.agreement-wrap .blank.underline{/*border-bottom:1px solid #333;*/ display:inline-block}
.agreement-wrap .txt-dec {text-decoration:underline}
.agreement-wrap .fs16{font-size:16px !important;}
.agreement-wrap .fs11{font-size:11px !important;}
.agreement-wrap .in-block {display:inline-block !important}
.agreement-wrap .inline {display:inline !important}
.agreement-wrap .pc {display:block !important;}
.agreement-wrap .m {display:none}
.agreement-wrap .w10 {width:10px !important;}
.agreement-wrap .w20 {width:20px !important;}
.agreement-wrap .w50 {width:50px !important;}
.agreement-wrap .w60 {width:60px !important;}
.agreement-wrap .w70 {width:70px !important;}
.agreement-wrap .w80 {width:80px !important;}
.agreement-wrap .w100 {width:100px !important;}
.agreement-wrap .w110 {width:110px !important;}
.agreement-wrap .w120 {width:120px !important;}
.agreement-wrap .w130 {width:130px !important;}
.agreement-wrap .w150 {width:150px !important;}
.agreement-wrap .w180 {width:180px !important;}
.agreement-wrap .w200 {width:200px !important;}
.agreement-wrap .w10p {width:10% !important;}
.agreement-wrap .w20p {width:20% !important;}
.agreement-wrap .w25p {width:25% !important;}
.agreement-wrap .w30p {width:30% !important;}
.agreement-wrap .w35p {width:35% !important;}
.agreement-wrap .w40p {width:40% !important;}
.agreement-wrap .w45p {width:45% !important;}
.agreement-wrap .w50p {width:50% !important;}
.agreement-wrap .w55p {width:55% !important;}
.agreement-wrap .w60p {width:60% !important;}
.agreement-wrap .w65p {width:65% !important;}
.agreement-wrap .w70p {width:70% !important;}
.agreement-wrap .w75p {width:75% !important;}
.agreement-wrap .w80p {width:80% !important;}
.agreement-wrap .w90p {width:90% !important;}
.agreement-wrap .w100p {width:100% !important;}
.agreement-wrap .w-auto {width:auto !important;}
.agreement-wrap .min-h30 {min-height:30px !important}
.agreement-wrap .min-h60 {min-height:60px !important}
.agreement-wrap .h30 {height:30px !important}
.agreement-wrap .h40 {height:40px !important}
.agreement-wrap .h50 {height:50px !important}
.agreement-wrap .top_attach {position:absolute; top:80px}

/** form **/
.agreement-wrap input, .agreement-wrap textarea,.agreement-wrap button {box-sizing: border-box; border-radius: 0; -webkit-appearance: none; border-radius: 0; border: 0 none; box-shadow: 0}
.agreement-wrap input[type="text"][readonly] {padding: 0px 25px 0 0;border: 0;background-color: #eee;font-size: 11px;}
.agreement-wrap input[type="text"]{text-align:center;font-size:1.3rem;width:100%}
.agreement-wrap .chkbox {position:relative; display:inline-block;padding:0 .5rem}
.agreement-wrap .chkbox .chk {display:inline-block;background-size: 11px 121px;width:11px; height: 11px !important; left:-5px;vertical-align:0;}
.agreement-wrap .chkbox input.chk[type=checkbox]:disabled {border:1px solid #666; background:#eee; width:11px; height: 11px !important}
.agreement-wrap .chkbox input.chk[type=checkbox]:disabled:checked {border:1px solid #666}
.agreement-wrap .chkbox label {margin-left:0.4rem;line-height:1.5}
.agreement-wrap input:checked[type="checkbox"] {-webkit-appearance: none !important;}
.agreement-wrap .chkbox input.chk[type=checkbox]:disabled:checked:before {display:inline-block;vertical-align:top; content:'\2714'; width:11px; height:11px; font-size:10px;margin-top: -3px;color:#222;}

/** 리스트 스타일 **/
.agreement-wrap .tbl-st1 {border-top: 1px solid #ddd;}
.agreement-wrap .tbl-st1 th, .tbl-st1 td{text-align:left}
.agreement-wrap .tbl-st1 th {padding-left:.5rem}
.agreement-wrap .tbl-st1 td {height:25px}
.agreement-wrap .tbl-st1 td.line-2 {height:50px}
.agreement-wrap .tblst-wrap {padding-top:1rem}
.agreement-wrap .tbl-st1.left {border-top:1px solid #ddd; width:100%}
.agreement-wrap .tbl1 th, .tbl1 td {border-bottom:1px solid #ddd;font-weight:normal;padding-left:.5rem}
.agreement-wrap .tbl1 th, .tbl-st3 th {background:#f6f6f6;}
.agreement-wrap .tbl-st2 th, .tbl-st2 td {border:1px solid #d0d0d0; font-weight:normal; text-align:center; padding:.3rem; background:#fff}
.agreement-wrap .tbl1.horiz {border-top:1px solid #ddd}
.agreement-wrap .tbl1.horiz th,
.agreement-wrap .tbl1.horiz td {border-right:1px solid #ddd}
.agreement-wrap .tbl1.horiz th:first-child,
.agreement-wrap .tbl1.horiz td:first-child {border-left:1px solid #ddd}
.agreement-wrap .tbl-st1.right {border-top: 0px solid #ddd;}
.agreement-wrap .tbl-st3 th, .tbl-st3 td{text-align:center; border:1px solid #ddd;padding:.2rem}
.agreement-wrap .bul_1 > li {position:relative;padding-left:.5rem}
.agreement-wrap .bul_1 > li:before {display:block;content:'';position:absolute;top:2px;left:3px;width:3px;height:3px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;content:'￭' !important; font-size:3px;background:none !important; line-height: 2px;}
.agreement-wrap .bul_1 .fs_14 {color:#666}
.agreement-wrap .bul_2 > li {position:relative;padding-left:1.2rem}
.agreement-wrap .bul_2 > li:before {display:block;content:'-';position:absolute;top:0px;left:6px;width:6px;height:.1rem;border:0 none;background:none;font-size: 1px;}
.agreement-wrap .bul_3 > li {position:relative;padding-left:1.2rem}
.agreement-wrap .bul_3 > li:before {display:block;content:'';position:absolute;top:.5rem;left:0;width:.4rem;height:.4rem;border:.1rem solid #888;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;background:transparent}
.agreement-wrap .bul_0 .bul_2 li {padding-left:0}
.agreement-wrap .bul_0 .bul_2 li:before {background:none}
.agreement-wrap .bul_4 > li {position:relative;padding-left:.5rem}
.agreement-wrap .bul_4 > li:before {display:block;content:'';position:absolute;top:.6rem;left:0;width:4px;height:4px;background:#7d7d7d;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
.agreement-wrap .bul_5 > li {position:relative;padding-left:.7rem}
.agreement-wrap .bul_5 > li:before{content:'';display:block;position:absolute;top:.6rem;left:0;width:5px;height:5px;background:#222;}
.agreement-wrap .bul_5 > li .two-depth > li {margin-left:.5em;}
.agreement-wrap .bul_6 > li {position:relative;padding-left:1rem}
.agreement-wrap .bul_6 > li:before {content:'▶';display:block;position:absolute;top:.3rem;left:0;font-size:9px;}
.agreement-wrap .txt-cmt1 {position:relative;padding:10px 0 0 15px;line-height:1.5; padding: .5rem 0em .5rem 1.2rem !important;}
.agreement-wrap .txt-cmt1:before {content:'※';display:block;position:absolute;left:0;top:5px; font-size:12px;}
.agreement-wrap .txt-cmt2 {position:relative;padding:10px 0 0 15px;line-height:1.5; padding: .5rem 0em .5rem 1.2rem !important;}
.agreement-wrap .txt-cmt2:before {content:'→';display:block;position:absolute;left:0;top:5px}
.agreement-wrap .txt-cmt3 {position:relative;padding:10px 0 0 15px;line-height:1.5; padding: .5rem 0em .5rem .8rem !important;}
.agreement-wrap .txt-cmt3:before {content:'＊';display:block;position:absolute;left:0;top:5px}
.agreement-wrap .txt-red {color:#ff0000}
.agreement-wrap .txt-red:before {border: 1px solid #ff0000 !important ;color:#ff0000 !important;}
.agreement-wrap .list-step li .bul_1 > li:before {border:0;display:block;content:'';} /* 2020-09-28 */
.agreement-wrap .list-step li .bul_1 li {padding-left: 1rem !important; margin:0 !important;} /* 2020-09-28 */

/** 약정서 **/
.agreement-wrap select {border-bottom: .1rem solid #8d8d8d !important; font-size:1.4rem !important; }
.agreement-wrap input[type='text']:focus {border-bottom:0}
.agreement-wrap .none {display:none;visibility:hidden}
.agreement-wrap hr {display:none}
.agreement-wrap.fl {float:left !important}
.agreement-wrap .fr {float:right !important}
.agreement-wrap .ac {text-align:center !important}
.agreement-wrap .al {text-align:left !important}
.agreement-wrap .ar {text-align:right !important}
.agreement-wrap .inner-row {margin-bottom:.5rem; margin-left:.5rem}
.agreement-wrap .row p {padding:.5rem 0em .5rem 0rem;}
.agreement-wrap .row, .agreement-wrap .inner-row{zoom:1;width:100%}
.agreement-wrap .row:after, .inner-row:after{content:""; display:block; clear:both;}
.agreement-wrap h1 {text-align:center;}
.agreement-wrap h1, .agreement-wrap h2, .agreement-wrap h3 {font-size:2.5rem; display:block; font-weight:bold; padding:2rem 0rem 1rem 0rem}
.agreement-wrap h1 {font-size:2.5rem;line-height:1.5; letter-spacing:-.1rem}
.agreement-wrap h2 {font-size:1.6rem;line-height:1.5; text-align:center}
.agreement-wrap h3 {font-size:1.4rem; display: block; font-weight: bold; padding: 2rem 0 0rem;line-height:1.5; }
.agreement-wrap h1 span {font-size:1.6rem}
.agreement-wrap h5 {position:relative; padding-left:1.1rem; margin-top:.5rem; font-weight:bold !important; font-size:1.4rem}
.agreement-wrap h5:before {display: block; content: ''; position: absolute;top: .4rem; left: 0; width:10px; height:10px; background: #222}
.agreement-wrap .list-step {margin-top: 3px;  counter-reset: step}
.agreement-wrap .list-step li {position: relative; margin-top: 7px;padding: 0 0 0 2rem;line-height:1.5}
.agreement-wrap .list-step li:before {counter-increment: step; content:counter(step); display: block; position: absolute;top:.2rem;left: 0;width:1.4rem; height:1.4rem; border: 1px solid #222; border-radius: 50%; font-size: 0.8rem; line-height:1.5; text-align: center; color: #222;font-size: 10px;}
.agreement-wrap .list-step li li:before {display: none;counter-increment: none}
.agreement-wrap .list-step li.strong, .agreement-wrap .list-step li.strong:before {font-weight:bold;}
/* .agreement-wrap .inner-agreement {padding:1.5rem 2rem 8rem 2rem;} */
.agreement-wrap .head-st1, .footer-st1 {padding-bottom:2rem}
.agreement-wrap .info, .footer-st1 .info {float:right; width:100%; margin:1px; padding:0px; border-bottom:1px solid #333}
.agreement-wrap .info span.output,
.agreement-wrap .footer-st1 .info span.output {display:block; padding:0; width:100%;}
.agreement-wrap .info dd.sign, .footer-st1 .info dd.sign{display:inline-block; float:right; text-align:right}
.agreement-wrap .head-st1 .date, .footer-st1 .date{ text-align:right;}
.agreement-wrap .to {font-size:1.4rem; display:block; padding-bottom:1rem}
.agreement-wrap .approval ul {float:right; margin:1rem 0rem 1rem 1rem}
.agreement-wrap .approval li {border:1px solid #ddd; border-left:0px solid #ddd; float:left; text-align:center}
.agreement-wrap .approval li:first-child {border-left:1px solid #ddd}
.agreement-wrap .approval li .confirm {width:5rem; border-bottom:.1rem solid #ddd; font-size:0.9rem; height:2rem; line-height:1.5; background:#eee}
.agreement-wrap .approval li .sign {height:4rem}
.agreement-wrap .list-step-s li:before {color: #222 !important; border: 0px solid #3788dc; font-size:1.4rem;width:5px}
.agreement-wrap .list-step-s {list-style:decimal !important; padding:0rem 1rem 0rem 1rem}
.agreement-wrap .list-step-s li {padding-left:0rem;}
.agreement-wrap .list-step-s li:before {display:none !important}
.agreement-wrap .box_st1, .agreement-wrap .box_st2 {border: .1rem solid #ddd; background:#ffffff;line-height: 1.5;padding: .5rem; margin-bottom:1rem}
.agreement-wrap .must-textarea {padding:0; height:50px; color:#222; font-size:1.4rem; border:1px solid #ddd;width:100%;}
.agreement-wrap .chkbox.alone .chk{left:0;}
.agreement-wrap .chkbox .chk.alone{left:0;}
.agreement-wrap .s-chk.alone .chk{left:2px;}
.agreement-wrap .s-chk .chk.alone{left:2px;}
.agreement-wrap .align{overflow:hidden;}
.agreement-wrap .align .left{float:left;}
.agreement-wrap .align .right{float:right;}
.agreement-wrap .head-st1 .jumin, .agreement-wrap .footer-st1 .jumin {border-bottom:1px solid #222; float:right; width:100%; margin:1px; padding:0px;}
.agreement-wrap .head-st1 .jumin span.output, .footer-st1 .jumin span.output {display:block; padding:0; width:100%;}
.agreement-wrap .head-st1 .jumin dt, .agreement-wrap .footer-st1 dt {display:inline-block}
.agreement-wrap .head-st1 .jumin dd.txt, .agreement-wrap .footer-st1 .jumin dd.txt{display:inline-block; width:calc(100% - 150px)}
.agreement-wrap .head-st1 .jumin dd.sign, .agreement-wrap .footer-st1 .jumin dd.sign{display:inline-block; float:right; width:30px;}
.agreement-wrap .footer-st1 .sign-sec {width:245px; margin-top:1rem}
.agreement-wrap td .li-list li { padding:0; margin:0; clear:both}
.agreement-wrap .sp_bg, .agreement-wrap .sp_bg .sign {background:#e4fffb !important}
.agreement-wrap .list-step-s li li {list-style:none}
.agreement-wrap .sign-footer {border:1px solid #ff0000; width:100px;float:right}
.agreement-wrap .sign-footer li {border-top:1px solid #ff0000; text-align:center; padding:3px 0; color:#ff0000; font-size:11px}
.agreement-wrap .sign-footer li:first-child {border-top:0px solid #ff0000; }
.viewer_agree .viewer_contents.pdf_viewer_slide {height:auto;}
.viewer_agree .pdf_viewer_slide .slide_area {padding:0 2.4rem;}

/* 약관 */
.agreement-wrap {height:100%;}
.agreement-wrap * {box-sizing:border-box;color:#222;}
.agreement-wrap .main-cont { width:100%}

/* 서명 */
.agreement-wrap .sign-sec {position:relative; width:80%; max-width:40rem; margin-left:40px; float:right;clear:both}
.agreement-wrap .sign-sec:after {content:''; display:block; clear:both;}
.agreement-wrap .sign-sec dt {float:left; padding-right:10px;  width:20%; max-width: 9.5rem;}
.agreement-wrap .sign-sec dd {width:80%}
.agreement-wrap .sign-sec dd.txt:not(:last-child) .txt{padding-right: 9rem;}
.agreement-wrap .sign-sec dl.info {display:block;position:relative;}
.agreement-wrap .sign-sec .txt {float:left}
.agreement-wrap .sign-sec .sign {position:absolute; top:0; right:0}
.agreement-wrap .sign-sec input {width:100%; text-align:left}
.agreement-wrap .tbl_sign .fl {width:350px;}
.agreement-wrap .tbl_sign .fr {width:250px;}
.agreement-wrap .sign-sec.full {width:100% !important;}

/*수입인지*/
.recognition {border:1px solid #ddd; width:65px; height:70px; border-radius:.5rem; top:130px; text-align: center; width:100px; height:100px; top:80px;line-height:1.5;font-size: 11px;}
.recognition span {color:#666; display:block; font-size:1rem; border-top:1px solid #ddd; width:100%; margin-top:5px;}
.dash_t {border-top:dashed 2px #222 !important}
.dash_b {border-bottom:dashed 2px #222 !important}
.dash_l {border-left:dashed 2px #222 !important}
.dash_r {border-right:dashed 2px #222 !important}

/* 접근성추가 */ 
.th_st {text-align: center; border: 1px solid #ddd; padding: .5rem; font-weight: normal; background: #f6f6f6}
 ol.list-step-s li { list-style:decimal none outside}
 ol.list-step-s li .list-step-c li {
    list-style: circle !important;
    padding: 0rem 1rem 0rem 1rem;
}
.g-box2 {background:#e5e5e5; color:#666; display:inline-block; font-weight:600;padding:.3rem 1rem}

/*select*/
.agreement-wrap .approval li .confirm.me {width:10rem; height:5rem; padding:0.5rem; line-height:1.5}
.agreement-wrap .approval li .sign.me {width:10rem; padding:0.5rem; line-height:1.5; text-align:left}
.agreement-wrap .approval li .confirm.stamp{width: 10rem;height: auto;padding: 0.5rem;line-height:1.5}
.agreement-wrap .col-md-1, .agreement-wrap .col-md-2, .agreement-wrap .col-md-3, .agreement-wrap .col-md-4, .agreement-wrap .col-md-5, .agreement-wrap .col-md-6, 
.agreement-wrap .col-md-7, .agreement-wrap .col-md-8, .agreement-wrap .col-md-9, .agreement-wrap .col-md-10, .agreement-wrap .col-md-11, .agreement-wrap .col-md-12 {float:none; width:100%}
.agreement-wrap .approval {display:none}
.agreement-wrap .mt40 {margin-top:40px !important}